
/*
.ion-focusable.ion-invalid {
  --highlight-background: var(--ion-color-primary);
  // --highlight-background: var(--highlight-color-valid);
}

.ion-valid {
  --ion-text-color:white;
  --highlight-background: var(--ion-color-primary);
  // --highlight-background: var(--highlight-color-valid);
}


.ion-touched.ion-invalid {
  --ion-text-color:#f1453d;
  --highlight-background: var(--highlight-color-invalid);
}

.ion-color-red, .ion-color {
  --ion-text-color:#f1453d;
  border-bottom:1px solid #eb445a !important;
}
*/

/*
.ion-valid {
  --ion-text-color:white;
  --highlight-background: var(--ion-color-primary);
}

.ion-invalid.ion-touched {
  --ion-text-color:#f1453d;
  --highlight-background: var(--ion-color-warning);
}
*/
